<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jihad Magalin">
    <meta name="keywords" content="kvanar,turks,caicos,islands,construction,villa,beach,best,desgn,build,concept,architecture,engineering,project,management">
    <meta name="description" content="Based in Turks and Caicos Islands, Kvanar, in partnership with Ron Shaw, specializes in design and build villa projects with high regard for customer satisfaction, innovation, safety and environment preservation.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property=’og:image’ content="/custom/img/kvanar-thumbnail.jpg"/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />

    <!-- Google Meta -->
    <!--<meta name="robots" content="noindex">-->
    <!--<meta name="robots" content="noarchive">-->
    <!--<meta name="robots" content="max-image-preview:standard">-->

    <title>Kvanar</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap" rel="stylesheet">

    <!-- Default CSS -->
    <link href="/custom/css/bootstrap.min.css" rel="stylesheet">
    <link href="/custom/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/custom/css/aos.css" rel="stylesheet">
    <link href="/custom/css/glightbox.min.css" rel="stylesheet">
    <link href="/custom/css/slick.css" rel="stylesheet">
    <link href="/custom/css/slick-theme.css" rel="stylesheet">

    <!-- ICON -->
    <link rel="icon" href="/custom/img/kvanar-tab-icon.png" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/custom/css/kv-common.css">
    <link rel="stylesheet" href="/custom/css/kv-home.css">
    <link rel="stylesheet" href="/custom/css/style.css">
    <link rel="stylesheet" href="/custom/css/quote.css">
    <link rel="stylesheet" href="/custom/css/kvanar-animation.css">

    <!-- Custom JS -->
    <script src="/custom/js/jQuery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/custom/js/vanilla.js"></script>
</head>
<body id="home">

<!-- HEADER -->
<div id="newHeader" class="navbar navbar-expand-lg fixed-top navbar-dark" role="navigation">

    <input id="pageIdentifier" type="hidden" value="landing-page">

    <div class="container">

        <div class="navbar-brand">
            <a href="index.html">
                <img id="headerLogo" src="/custom/img/logo-kvanar-db-ronshaw-white.png" alt="" class="img-fluid white-log" style="max-height: 90px!important;">
            </a>
        </div>

        <!-- DESKTOP NAV-BAR -->
        <!-- Screen greater than or equal to 992px -->
        <div class="d-none d-lg-block">
            <div id="navbarDesktop" class="navbar-nav fs-5 kv-link-white">
                <a class="nav-link me-4" href="/about.html">About Us</a>
                <a class="nav-link me-4" href="#ourServices">Services</a>
                <a class="nav-link me-4" href="#RonShaw">Designs by Ron Shaw</a>
                <a class="nav-link me-4" href="#ourProjects">Projects</a>
                <a class="nav-link me-4" href="/why-kvanar.html">Why Kvanar</a>
            </div>
        </div>

        <!-- SMALL DEVICE NAV-BAR -->
        <!-- Screen less than 992px -->
        <div class="d-lg-none">
            <button id="hamburgerButton" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offPanelNavBar" aria-controls="offPanelNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span id="hamburger" class="navbar-toggler-icon"></span>
            </button>
            <div id="offPanelNavBar" class="offcanvas offcanvas-lg offcanvas-end bg-dark" data-bs-scroll="true" aria-labelledby="offPanelKvanarLabel">
                <div class="offcanvas-header">
                    <div id="offPanelKvanarLabel" class="display-5 fw-semibold"><span class="d-none">KVANAR</span><span>&nbsp;</span></div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-end display-6">
                    <div class="navbar-nav kv-offpanel-link-white">
                        <a class="nav-link mb-3" href="/about.html">About Us</a>
                        <a class="nav-link mb-3" href="#ourServices">Services</a>
                        <a class="nav-link mb-3" href="#RonShaw">Designs by Ron Shaw</a>
                        <a class="nav-link mb-3" href="#ourProjects">Projects</a>
                        <a class="nav-link mb-3" href="/why-kvanar.html">Why Kvanar</a>
                        <a class="nav-link mb-3" href="#footer">Let's Talk</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- SECTION 1 -->
<div class="container-fluid mb-5" id="OnScrollSection">
    <div class="row min-vh-100">

        <!-- SWIPER -->
        <div class="swiper swiper-first">

            <!-- [START] Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Slide 1 -->
                <div class="swiper-slide">
                    <div class="image-container" style="background-image: url('/custom/img/featured-long-bay-beach-4-hq.jpg');">

                        <!-- Black Background with Opacity -->
                        <div class="min-vh-100 text-white swiper-text-container">

                            <!-- Inner Content -->
                            <div class="container">
                                <div class="row min-vh-100 align-items-end">
                                    <div class="col-lg-12 col-10 vh-50 mx-auto">

                                        <div class="display-1 fw-semibold mb-2">CONCEPT</div>
                                        <div class="display-5">We ensure customer satisfaction from sketch to project completion.</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="swiper-slide">
                    <div class="image-container" style="background-image: url('/custom/img/featured-long-bay-beach-9-hq.jpg');">

                        <!-- Black Background with Opacity -->
                        <div class="min-vh-100 text-white swiper-text-container">

                            <!-- Inner Content -->
                            <div class="container">
                                <div class="row min-vh-100 align-items-end">
                                    <div class="col-lg-12 col-10 vh-50 mx-auto">

                                        <div class="display-1 fw-semibold mb-2">DESIGN</div>
                                        <div class="display-5">We create designs with a responsible approach to the environment.</div>
                                        <a class="btn kv-btn-flat btn-lg mt-4 mb-3" href="#RonShaw">Designs by Ron Shaw</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="swiper-slide">
                    <div class="image-container" style="background-image: url('/custom/img/feature-sentosa-hq.jpg');">

                        <!-- Black Background with Opacity -->
                        <div class="min-vh-100 text-white swiper-text-container">

                            <!-- Inner Content -->
                            <div class="container">
                                <div class="row min-vh-100 align-items-end">
                                    <div class="col-lg-12 col-10 vh-50 mx-auto">

                                        <div class="display-1 fw-semibold mb-2">BUILD</div>
                                        <div class="display-5">We offer first-class build services on time and within budget.</div>
                                        <a href="#footer" class="btn kv-btn-flat btn-lg mt-4 mb-3">Let's Talk About Your Project</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- [END] Additional required wrapper -->

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
        <!-- SWIPER END -->

    </div>
</div>

<!-- SECTION 2 -->
<div class="container-fluid py-5 mb-5">
    <div class="container text-center">
        <div class="row align-items-center half-vh">

            <div class="col-md-8 m-auto" data-aos="zoom-in-up" data-aos-duration="1300">
                <h2>
                    <span class="kvanar-text-orange"><strong>KVANAR</strong></span> is focused on becoming one of the
                    leading design and build contractors in the Turks & Caicos Islands
                    delivering to customers on time and within budget.
                </h2>

                <a class="btn kv-btn-flat btn-lg mt-5 mb-3 card-services-active rounded-5 px-5 fw-semibold fs-6 text-uppercase" href="/about.html">
                    More About Us
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="12" fill="currentColor" class="bi bi-arrow-right" viewBox="10 9.5 20 16">
                        <path fill-rule="evenodd" d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
                    </svg>
                </a>

            </div>
        </div>
    </div>
</div>

<!-- Do not use #ourServices ID as selector in JS -->
<div id="ourServices"></div>

<!-- SECTION 3A - BIG SCREEN -->
<div class="container mb-5 kvanar-services-big-screen">
    <div id="kvServicesBigScreenVue" class="row">

        <div class="col-12 pt-5 pb-3">
            <div class="display-4 text-center kv-font-noto fw-bold" data-aos="fade-down" data-aos-duration="1000">Our Services</div>
            <div class="kvanar-divider my-3 m-auto"></div>
        </div>

        <div class="col-12">
            <div class="container">
                <div class="row kv-vh-25min py-5 my-4 align-items-center kv-services rounded-4" v-for="(services, key) in kvServices">
                    <div class="col-md-6 col-12 px-5" data-aos="fade-right" data-aos-duration="1000" ><span class="fs-1 kv-font-noto fw-bold">{{services.name}}</span></div>
                    <div class="col-md-6 col-12" data-aos="fade-left" data-aos-duration="1000" ><span class="fs-4">{{services.description}}</span></div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- SECTION 3B - SMALL SCREEN -->
<div class="container-fluid p-4 p-sm-5 my-5 kvanar-services-small-screen">
    <div id="kvServicesSmallScreenVue" class="row">

        <div class="display-4 mb-4 py-3 kv-font-noto fw-bold text-center" data-aos="fade-down" data-aos-duration="1000">
            Our Services
            <div class="kvanar-divider my-3 m-auto"></div>
        </div>

        <div class="col-12 border border-1 rounded-4 p-4 p-sm-5 mb-5" data-aos="fade-up" data-aos-duration="1000" v-for="(services, key) in kvServices">
            <h4 class="mb-4 kvanar-text-orange">{{services.name}}</h4>
            <p class="fs-5 mb-0">{{services.description}}</p>
        </div>

    </div>
</div>


<!-- SECTION 4 GREAT BEGIN WITH -->
<div class="container-fluid mb-5 p-4 p-sm-5">
    <div class="row align-items-center kvanar-bg-orange-light rounded-4">
        <div class="col-lg-6 col-12">
            <div class="row align-items-center">
                <div class="kv-vh-70 kv-bg-pan-hover rounded-4" style="background-image: url('/custom/projects/seascape-15.jpg');"
                     data-aos="fade-up"
                     data-aos-duration="1000">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 text-white" data-aos="fade-right" data-aos-duration="1000">
            <div class="row align-items-center">
                <div class="col-md-10 p-md-4 p-5 m-auto display-2">
                    Great
                    <span class="kvanar-text-roll display-3"></span>
                    <br />begin with great homes.
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SECTION 5 RON SHAW -->
<div id="RonShaw" class="container mb-5">
    <div class="row align-items-center">

        <div class="col-12 display-4 fw-bold text-center py-5" data-aos="fade-up" data-aos-duration="1300">
            Your dream home designed by award-winning architect <span class="kvanar-red text-highlight text-highlight-red">Ron Shaw</span>
        </div>

        <div class="col-md-6 col-12 py-5">
            <div class="row">
                <div class="col-12 col-md-11 m-auto" data-aos="fade-up" data-aos-duration="1000">
                    <img class="img-fluid" src="/custom/img/logo-kvanar-db-ronshaw.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12 py-5" data-aos="fade-right" data-aos-duration="1000">
            <div class="row">
                <div class="col-12">
                    <blockquote class="quote-card">
                        <p class="mb-3">
                            The gratification of working with clients to determine their ideals,
                            attaining approval of concepts, and sharing in the excitement, watching dreams
                            and visions come to life, is a privilege we are grateful for.
                        </p>
                        <cite class="h3">Kvanar Team</cite>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- CONTACT US -->
<div class="container-fluid mb-5 p-4 p-sm-5">
    <div class="row align-items-center kvanar-bg-orange-light rounded-4">
        <div class="col-lg-6 col-12 text-white" data-aos="fade-left" data-aos-duration="1000">
            <div class="row align-items-center">
                <div class="col-md-10 p-md-4 p-5 m-auto text-center">
                    <div class="fs-1 fw-semibold kvanar-text-white mb-5">
                        Our team is guided by the values of honesty, trust, teamwork and innovation.
                    </div>
                    <a href="#typicalFooter" class="btn kv-btn-flat btn-lg" role="button">Connect with us</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="row align-items-center">
                <div class="kv-vh-70 kv-image-container rounded-4" style="background-image: url('/custom/img/pexels-kindel-media-6774956.jpg');"
                     data-aos="fade-right"
                     data-aos-duration="1000">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION 6 PROJECTS -->
<div id="ourProjects" class="container-fluid mb-5 px-sm-5 px-4">
    <div class="row mb-5" data-aos="fade-up" data-aos-duration="1300">
        <div class="col-12 display-4 text-center pt-5 pb-3 kv-font-noto fw-bold">
            Featured Projects
            <div class="kvanar-divider my-3 m-auto"></div>
        </div>
    </div>
    <div class="row mb-3 row-cols-1 row-cols-md-3 g-4">
        <div class="col" v-for="(project, key) in projects" data-aos="fade-up" v-bind:data-aos-duration="100 + 200*key">
            <a class="kv-link" v-bind:href="'/project.html?pid=' + project.pid" target="_blank">
                <div class="kv-image-container kv-vh-50 image-gallery rounded-4 kv-im"  v-bind:style="'background-image: url(\'/custom/projects/' + project.img +  '\');'"></div>
            </a>
            <div class="py-3 fs-5"><a class="kv-link" v-bind:href="'/project.html?pid=' + project.pid" target="_blank">{{project.name}}</a></div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 text-center">
            <a class="btn kv-btn-flat btn-lg my-3 card-services-active rounded-5 px-5 fw-semibold fs-6 text-uppercase" href="/projects.html">
                View All Projects
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="12" fill="currentColor" class="bi bi-arrow-right" viewBox="10 9.5 20 16">
                    <path fill-rule="evenodd" d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="py-5"></div>

<!-- FOOTER -->
<div id="typicalFooter"></div>

<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="/custom/js/swiper-bundle.min.js"></script>
<script src="/custom/js/aos.js"></script>
<script src="/custom/js/glightbox.min.js"></script>
<script src="/custom/js/slick.js"></script>
<script>
    /* Services Array */
    const servicesArray = {
        1 : { name : 'Design and Build', description : 'To provide you with tailored, bespoke designs and bring your dream homes to reality, Kvanar Contracting are exclusively partnered with award-winning architect, Ron Shaw as Kvanar Design and Build, designs by Ron Shaw.' },
        2 : { name : 'General Contractors', description : 'Whether you prefer your dream homes designed by Ron Shaw or a designer of your choosing, Kvanar Contracting can provide general contractor services. We have highly skilled personnel that can get your projects done on schedule, meeting your expectations and with quality workmanship.' },
        3 : { name : 'Project and Construction Management', description : 'In some cases, you may hire Kvanar for project and construction management services to ensure your project is implemented and completed based on your specifications and overall goal with less worry for minor details.' },
        4 : { name : 'Refurbishment and Renovation', description : 'When your properties need that fresh look and feel once again, Kvanar Contracting is your right partner as we are well-experienced with refurbishment and renovation services.' },
        5 : { name : 'Heavy Equipment Hire', description : "Kvanar Contracting offers heavy equipment hire services. We are a committed partner to your heavy equipment rental needs throughout the Turks and Caicos Islands. We ensure our heavy equipment are well maintained with ongoing compliance with the manufacturer's recommended service and maintenance procedures." },
        6 : { name : 'Importing and Shipping of Personal Effects', description : 'Kvanar Contracting offers importation and shipment of personal effects to your chosen destination in the Turks and Caicos Islands. We ensure all personal effects are transported and shifted safely and secured.' }
    };

    /* Vue App */
    const  { createApp } = Vue;
    const app1 = createApp({ data() {return {kvServices : servicesArray}} });
    const app2 = createApp({ data() {return {kvServices : servicesArray}} });
    app1.mount("#kvServicesBigScreenVue");
    app2.mount("#kvServicesSmallScreenVue");

    /* Featured Projects Array */
    const featuredProjects = {
        1: { pid: 2, name: 'Seascape - Villa Development', client: 'Seascape & Seaclusion', location: 'Turtle Cove, Providenciales, TCI, BWI', area: '12,000 sf', date: 'July 2019', status: 'Complete', img : 'seascape-1.jpg'},
        2: { pid: 4, name: 'Sentosa - Main Villa', client: 'Sentosa II', location: 'Leeward, Providenciales, TCI, BWI', area: '5,000 sf', date: 'July 2017', status: 'Complete', img : 'sentosa-1.jpg'},
        3: { pid: 6, name: 'Hyperion - Long Bay Beach Club, Villa Development', client: 'Long Bay Beach Club', location: 'Long Bay, Providenciales, TCI, BWI', area: '13,000 sf', date: 'February 2017', status: 'Complete', img : 'LBBC-hyperion-2.jpg'},
        4: { pid: 7, name: 'Eos & Helios - Long Bay Beach Club, Villa Development', client: 'Long Bay Beach Club', location: 'Long Bay, Providenciales, TCI, BWI', area: '13,000 sf', date: 'February 2017', status: 'Complete', img : 'LBBC-eos-1.jpg'},
        5: { pid: 3, name: 'Seaclusion - Villa Development', client: 'Seascape & Seaclusion', location: 'Turtle Cove, Providenciales, TCI, BWI', area: '12,000 sf', date: 'July 2019', status: 'Complete', img : 'seaclusion-1.jpg'},
    }
    const app3 = createApp({ data() {return {projects : featuredProjects}} });
    app3.mount("#ourProjects");

</script>
<script src="/custom/js/common-includes.js"></script>
</body>
</html>