<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="kvanar,turks,caicos,islands,construction,villa,beach,best,desgn,build,concept,architecture,engineering,project,management">
    <meta name="description" content="Based in Turks and Caicos Islands, KVANAR, in partnership with Ron Shaw, specializes in design and build villa projects with high regard for customer satisfaction, innovation, safety and environment preservation.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property=’og:image’ content="/custom/img/kvanar-thumbnail.jpg"/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />

    <!-- Google Meta -->
    <meta name="robots" content="noindex">
    <!--<meta name="robots" content="noarchive">-->
    <!--<meta name="robots" content="max-image-preview:standard">-->

    <title>Kvanar | Projects</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap" rel="stylesheet">

    <!-- Default CSS -->
    <link href="/custom/css/bootstrap.min.css" rel="stylesheet">
    <link href="/custom/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/custom/css/aos.css" rel="stylesheet">
    <link href="/custom/css/glightbox.min.css" rel="stylesheet">
    <link href="/custom/css/slick.css" rel="stylesheet">
    <link href="/custom/css/slick-theme.css" rel="stylesheet">

    <!-- ICON -->
    <link rel="icon" href="/custom/img/kvanar-tab-icon.png" />

    <!-- Custom CSS -->
    <link href="/custom/css/style.css" rel="stylesheet">
    <link href="/custom/css/kv-common.css" rel="stylesheet">
    <link href="/custom/css/quote.css" rel="stylesheet">
    <link href="/custom/css/kvanar-animation.css" rel="stylesheet">

    <!-- Custom JS -->
    <script src="/custom/js/jQuery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/custom/js/vanilla.js"></script>
</head>

<body style="color: black;">

<!-- HEADER -->
<div id="typicalHeader"></div>

<!-- DUMMY CONTAINER -->
<div class="py-5"></div>

<div class="container mb-5">
    <div class="row my-5">
        <div class="col-12 display-4 fw-semibold kv-font-noto">
            All Projects
            <div class="kvanar-divider"></div>
        </div>
    </div>
</div>

<!-- DUMMY FADE HEADER IDENTIFIER -->
<div id="OnScrollSection"></div>

<!-- SECTION 2 PROJECTS SUMMARY -->
<div id="projects" class="container mb-5">

    <div class="row mb-5" v-for="(project, key) in projects">
        <div class="col-lg-6 col-12 mb-4">
            <div class="row align-items-center">

                <!--Image Holder -->
                <div v-if="project.img !== ''">
                    <div class="kv-vh-50 kv-image m-auto rounded-4" v-bind:style="'background-image: url(\'/custom/projects/' + project.img + '\');'">
                    </div>
                </div>
                <div v-else>
                    <div class="kv-vh-50 kv-image m-auto rounded-4" style="background-image: url('/custom/img/photo_placeholder.jpg');">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-12 border-bottom border-1">
            <div class="row px-md-4 px-0">
                <div class="col-12 display-6 fw-semibold kv-text-orange mb-md-4 mb-3">
                        <span v-if="project.active === true">
                            <a class="kv-link" v-bind:href="'/project.html?pid='+key">{{project.project}}</a>
                        </span>
                    <span v-else>{{project.project}}</span>
                </div>

                <div class="col-md-4 fs-5 mb-md-2 mb-0">Client:</div>
                <div class="col-md-8 fs-4 fw-semibold mb-2">{{project.client}}</div>

                <div class="col-md-4 fs-5 mb-md-2 mb-0">Location:</div>
                <div class="col-md-8 fs-4 fw-semibold mb-2">{{project.location}}</div>

                <div class="col-md-4 fs-5 mb-md-2 mb-0">Built-up Area:</div>
                <div class="col-md-8 fs-4 fw-semibold mb-2">{{project.area}}</div>

                <div class="col-md-4 fs-5 mb-md-2 mb-0">Completed On:</div>
                <div class="col-md-8 fs-4 fw-semibold mb-2">{{project.date}}</div>
            </div>
        </div>
    </div>

</div>

<!-- DUMMY SECTION -->
<div class="py-3"></div>

<!-- FOOTER -->
<div id="typicalFooter"></div>

<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="/custom/js/swiper-bundle.min.js"></script>
<script src="/custom/js/aos.js"></script>
<script src="/custom/js/glightbox.min.js"></script>
<script src="/custom/js/slick.js"></script>
<script>
    const { createApp } = Vue;
    createApp({
        data() {
            return {
                projects : {
                    1: { active: false, project: 'Drake Developments - Villa Development', client: 'DRAKE Development', location: 'Leeward, Providenciales, TCI, BWI', area: '5,400 sf', date: 'February 2021', status: 'Complete', img : ''},
                    2: { active: true, project: 'Seascape - Villa Development', client: 'Seascape & Seaclusion', location: 'Turtle Cove, Providenciales, TCI, BWI', area: '12,000 sf', date: 'July 2019', status: 'Complete', img : 'seascape-1.jpg'},
                    3: { active: true, project: 'Seaclusion - Villa Development', client: 'Seascape & Seaclusion', location: 'Turtle Cove, Providenciales, TCI, BWI', area: '12,000 sf', date: 'July 2019', status: 'Complete', img : 'seaclusion-1.jpg'},
                    4: { active: true, project: 'Sentosa - Main Villa', client: 'Sentosa II', location: 'Leeward, Providenciales, TCI, BWI', area: '5,000 sf', date: 'July 2017', status: 'Complete', img : 'sentosa-1.jpg'},
                    5: { active: false, project: 'The Dunes - Villa Development (Phase 2)', client: 'The Dunes Development', location: 'Turtle Cove, Providenciales, TCI, BWI', area: '4,700 sf', date: 'February 2017', status: 'Complete', img : ''},
                    6: { active: true, project: 'Hyperion - Long Bay Beach Club, Villa Development', client: 'Long Bay Beach Club', location: 'Long Bay, Providenciales, TCI, BWI', area: '13,000 sf', date: 'February 2017', status: 'Complete', img : 'LBBC-hyperion-2.jpg'},
                    7: { active: true, project: 'Eos & Helios - Long Bay Beach Club, Villa Development', client: 'Long Bay Beach Club', location: 'Long Bay, Providenciales, TCI, BWI', area: '13,000 sf', date: 'February 2017', status: 'Complete', img : 'LBBC-eos-1.jpg'},
                    8: { active: false, project: 'The Shore Club - Tunnels and Swimming Pools', client: 'The Shore Club', location: 'Long Bay, Providenciales, TCI, BWI', area: 'na', date: 'August 2016', status: 'Complete', img : ''},
                    9: { active: false, project: 'Bajacu - Villa Renovation & Extension Works', client: 'Bajacu ', location: 'Ocean Drive, Providenciales, TCI, BWI', area: 'na', date: 'November 2015', status: 'Complete', img : ''},
                }
            }
        }
    }).mount('#projects');
</script>
<script src="/custom/js/common-includes.js"></script>
</body>
</html>