<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="kvanar,turks,caicos,islands,construction,villa,beach,best,desgn,build,concept,architecture,engineering,project,management">
    <meta name="description" content="Based in Turks and Caicos Islands, KVANAR, in partnership with Ron Shaw, specializes in design and build villa projects with high regard for customer satisfaction, innovation, safety and environment preservation.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property=’og:image’ content="/custom/img/kvanar-thumbnail.jpg"/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />

    <!-- Google Meta -->
    <meta name="robots" content="noindex">
    <!--<meta name="robots" content="noarchive">-->
    <!--<meta name="robots" content="max-image-preview:standard">-->

    <title>Kvanar | Team</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap" rel="stylesheet">

    <!-- Default CSS -->
    <link href="/custom/css/bootstrap.min.css" rel="stylesheet">
    <link href="/custom/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/custom/css/aos.css" rel="stylesheet">
    <link href="/custom/css/glightbox.min.css" rel="stylesheet">
    <link href="/custom/css/slick.css" rel="stylesheet">
    <link href="/custom/css/slick-theme.css" rel="stylesheet">

    <!-- ICON -->
    <link rel="icon" href="/custom/img/kvanar-tab-icon.png" />

    <!-- Custom CSS -->
    <link href="/custom/css/style.css" rel="stylesheet">
    <link href="/custom/css/kv-common.css" rel="stylesheet">
    <link href="/custom/css/quote.css" rel="stylesheet">
    <link href="/custom/css/kvanar-animation.css" rel="stylesheet">

    <!-- Custom JS -->
    <script src="/custom/js/jQuery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/custom/js/vanilla.js"></script>
</head>

<body style="color: black;">

<!-- HEADER -->
<div id="typicalHeader"></div>

<!-- DUMMY CONTAINER -->
<div class="py-5"></div>

<!-- SECTION 2 TEAM -->
<div class="container mb-5">
    <div class="row my-5">
        <div class="col-12 display-4 fw-semibold kv-font-noto">
            Meet the Team
            <div class="kvanar-divider"></div>
        </div>
    </div>

    <!-- DUMMY FADE HEADER IDENTIFIER -->
    <div id="OnScrollSection"></div>

    <div id="kvTeams" class="row mb-5 g-5">
        <div class="col-lg-6 col-12" v-for="(member, key) in kvTeam">

            <div class="card rounded-4">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a role="button" type="button" data-bs-toggle="modal" v-bind:data-bs-target="'#team_' + key">
                        <img v-bind:src="'/custom/img/team/' + member.img" class="img-fluid rounded-4" v-bind:alt="'Photo of ' + member.name">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="card-title fs-4 fw-semibold">
                                <!-- Button trigger modal -->
                                <a class="link-secondary" role="button" type="button" data-bs-toggle="modal" v-bind:data-bs-target="'#team_' + key">
                                    {{member.name}}
                                </a>
                            </div>
                            <div class="fs-6 fw-semibold kvanar-text-orange mb-3">{{member.position}}</div>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL -->

            <!-- Modal -->
            <div class="modal fade" v-bind:id="'team_' + key" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-fullscreen-lg-down ">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title" id="exampleModalLabel">{{member.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-md-4 py-4 px-3">
                            <div class="container">
                                <div class="row g-5 mb-5">
                                    <div class="col-lg-3 col-12">
                                        <img v-bind:src="'/custom/img/team/' + member.img" class="img-fluid rounded-4" v-bind:alt="'Photo of ' + member.name">
                                    </div>
                                    <div class="col-lg-9 col-12">
                                        <div class="display-5 fw-semibold">{{member.name}}</div>
                                        <div class="display-6">{{member.position}}</div>
                                    </div>
                                </div>
                                <div class="row g-3 py-3" v-if="member.experience.length > 0">
                                    <div class="col-lg-3 col-12"><span class="h5">Experience</span></div>
                                    <div class="col-lg-9 col-12"><span class="fs-5">{{member.experience}}</span></div>
                                </div>
                                <div class="row g-3 py-3" v-if="member.role.length > 0">
                                    <div class="col-lg-3 col-12"><span class="h5">Role</span></div>
                                    <div class="col-lg-9 col-12"><span class="fs-5">{{member.role}}</span></div>
                                </div>
                                <div class="row g-3 py-3" v-if="member.qualification.length > 0">
                                    <div class="col-lg-3 col-12"><span class="h5">Qualifications</span></div>
                                    <div class="col-lg-9 col-12"><span class="fs-5">{{member.qualification}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="py-3"></div>

<!-- FOOTER -->
<div id="typicalFooter"></div>

<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="/custom/js/swiper-bundle.min.js"></script>
<script src="/custom/js/aos.js"></script>
<script src="/custom/js/glightbox.min.js"></script>
<script src="/custom/js/slick.js"></script>
<script>
    const { createApp } = Vue;
    createApp({
        data() {
            return {
                kvTeam : {
                    1: {name: 'Christopher Haggie', position: 'Managing Director', img: 'KV-Chris.jpg', experience: '23 years of experience', role: 'Management of all Kvanar Business Activities.', qualification: 'BSc (Hons) Construction Engineering ManagementAssociate Member of the Chartered Institute of Building (ACIOB)'},
                    2: {name: 'Andrew Henry', position: 'Business Development & Tendering Manager', img: 'KV-Andrew.jpg', experience: '30 years of experience', role: 'Managing all Business Development, Tendering and Estimating functions within the company together with overseeing the cost control of live projects to ensure that projects meet the budget.', qualification: 'Incorporate Member of the Chartered Institute of Building (ICIOB)'},
                    3: {name: 'MarieClaude Bourgie', position: 'International Procurement & Buying', img: 'KV-MC.jpg', experience: '20 years of experience', role: 'Managing all purchases of construction material, inventories, material schedules, change of orders & shipping logistics.', qualification: 'Accreditation Certificates of Canadian Construction Association'},
                    4: {name: 'Salvatory Garland', position: '-', img: 'KV-male.jpg', experience: '-', role: '-', qualification: ''},
                    5: {name: 'Marvin Manalo', position: 'Structural & Finishes Foreman\n', img: 'KV-Marvin.jpg', experience: '25 years of experience', role: 'Supervision of structural frame construction  and finish elements, including but not limited to setting out, QA/QC, works packages planning and logistics, measurement, scheduling delivery of materials, QA, safety file, daily records, sourcing labour and plant, managing and liaising with subcontractors, and co-ordinating local material deliveries.', qualification: 'Time Served Finishing Carpenter'},
                    6: {name: 'Mario Forbes', position: 'Contracts Manager', img: 'KV-male.jpg', experience: '', role: 'Daily management and overseeing all live projects, including controlling budgets, negotiation and management of subcontracts, procurement of materials & supplies locally, co-ordination of bi-weekly evaluation of subcontract packages.', qualification: 'Construction Project Management'},
                    7: {name: 'Edwin Ewing', position: 'Heavy Equipment Operator', img: 'Edwin-Ewing.jpeg', experience: '-', role: 'Heavy Equipment Operator, management and stock control of company plant yard including deliveries serving all operational projects', qualification: ''},
                }
            }
        }
    }).mount('#kvTeams');
</script>
<script src="/custom/js/common-includes.js"></script>
</body>
</html>