/* Background Color */
.kv-bg-black {background-color: black;}
.kv-bg-white {background-color: white;}
.kv-bg-pink {background-color: pink;}
.kv-bg-gray {background-color: #545454;}

/* Background Image Pan On Hover
 * Pan the background image from left to right on mouse hover
 */
.kv-bg-pan-hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: 0.7s!important;
}
.kv-bg-pan-hover:hover {
    background-position: right;
}

/* Background Image
 */
.kv-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Background Image */
.kv-image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.kv-image-fixed {
    background-attachment: fixed;
}

/* Font Family */
.kv-font-noto {
    font-family: 'Noto Serif HK', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.kv-font-merriweather {
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Height */
.kv-vh-25min {min-height: 25vh!important;}
.kv-vh-35min {min-height: 35vh!important;}
.kv-vh-40min {min-height: 40vh!important;}
.kv-vh-50min {min-height: 50vh!important;}
.kv-vh-70min {min-height: 70vh!important;}
.kv-vh-75min {min-height: 75vh!important;}
.kv-vh-85min {min-height: 85vh!important;}

.kv-vh-25 {height: 25vh!important;}
.kv-vh-35 {height: 35vh!important;}
.kv-vh-40 {height: 40vh!important;}
.kv-vh-50 {height: 50vh!important;}
.kv-vh-70 {height: 70vh!important;}
.kv-vh-75 {height: 75vh!important;}
.kv-vh-85 {height: 85vh!important;}

.kv-vh-25max {max-height: 25vh!important;}
.kv-vh-35max {max-height: 35vh!important;}
.kv-vh-40max {max-height: 40vh!important;}
.kv-vh-50max {max-height: 50vh!important;}
.kv-vh-70max {max-height: 70vh!important;}
.kv-vh-75max {max-height: 75vh!important;}
.kv-vh-85max {max-height: 85vh!important;}

.kv-vh-inherit {min-height: inherit!important;}

/* Links */
a.kv-link {
    color: #fe6600;
    text-decoration: none;
}
a.kv-link:hover {
    color: #4da6ff;
}