/* Temporary CSS */
.jhd-bg-orange {background-color: #f0592a;}
.jhd-bg-pink {background-color: #ffc0cb;}
.jhd-bg-green {background-color: #8fbc8f;}

/* Kvanar Brand Color */
.kvanar-text-gray {color: #545454;}
.kvanar-text-orange {color: #f0592a;}
.kvanar-bg-gray {
    background-color: #545454;
    color: #a6a6a6;
}
.kvanar-red {color: #ff0000;}
.kvanar-bg-gray-dotted {
    background: radial-gradient(circle at center, #666666 10%, transparent 12%), #545454;
    background-size: 25px 25px;
    color: #a6a6a6;
}
.kvanar-bg-orange {
    background-color: #f0592a;
}
.kvanar-bg-orange-light {
    background-color: #fe6600;
}



/* Text */
.kvanar-text-xxl {font-size: 70px;}

/* Height */
.full-vh {height: 100vh;}
.half-vh {height: 50vh;}
.vh-25 {min-height: 25vh!important;}
.vh-50 {min-height: 50vh!important;}
.vh-75 {min-height: 75vh!important;}

/* Carousel Style */
#carouselExampleCaptions,
.carousel-inner,
.carousel-item,
.carousel-item.active,
.carousel-h-100 {
    height: 100vh;
}
.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-vh-spacer {
    height: 10vh;
}

/* Swiper */
.swiper {
    height: inherit;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-slide-active{
    transform: scale(1);
}
.swiper-button-prev,
.swiper-button-next {
    color: #D3D3D3FF;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #f0592a;
}
.swiper-pagination-bullet {
    background-color: white;
}
.swiper-pagination-bullet-active {
    background-color: #f0592a;
}


.image-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Zoom Effect */
.zoom-effect {
    animation-name: kvanar-shrink-animation;
    animation-duration: 6s;
    background-size: auto 150%;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes kvanar-shrink-animation {
    0% {
        background-size: auto 150%;
    }
    100% {
        background-size: auto 140%;
    }
}

/* Accordion Hover */
.kvanar-accordion-small {
    display: block;
}
.kvanar-accordion-big {
    display: none;
}
@media (min-width: 992px) {
    .kvanar-accordion-small {
        display: none;
    }
    .kvanar-accordion-big {
        display: block;
    }
}
.kvanar-service-panel:hover {
    background-color: #f2f2f2;
}
.kvanar-accordion-content {
    position: absolute;
    display: none;
    margin-top: -150px;
    margin-right: 100px;
    margin-left: 70px;
}