/* CORE */

/* SLIDE SPECIFIC */
.why-kvanar-first-slide {
    background-image: url('/custom/img/why-kvanar/why-kvanar-cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 70vh;
}
.why-kvanar-second-slide {
    background-image: url('/custom/img/why-kvanar/why-kvanar-cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -30vh;
}

/* REMAINING SLIDE */
.why-kvanar-image-1,
.why-kvanar-image-2,
.why-kvanar-image-3,
.why-kvanar-image-4,
.why-kvanar-image-5,
.why-kvanar-image-6
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.why-kvanar-image-1 {
    background-image: url('/custom/img/why-kvanar/pexels-ivan-samkov-8962801.jpg');
}
.why-kvanar-image-2 {
    background-image: url('/custom/img/why-kvanar/pexels-alena-darmel-7642113.jpg');
}
.why-kvanar-image-3 {
    background-image: url('/custom/img/why-kvanar/pexels-mikael-blomkvist-6476190.jpg');
}
.why-kvanar-image-4 {
    background-image: url('/custom/img/why-kvanar/pexels-2.jpg');
}
.why-kvanar-image-5 {
    background-image: url('/custom/img/why-kvanar/pexels-los-muertos-crew-8853470.jpg');
}
.why-kvanar-image-6 {
    background-image: url('/custom/img/why-kvanar/pexels-4.jpg');
}

.why-kv-icons .bi {
    width: 1em!important;
    height: 1em!important;
}
.bi {
    display: inline-block;
    vertical-align: -0.125em;
}